@model RecipeProject.User

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    function getImgLink(id) {
        var imgName = document.getElementById(id).alt;

        var imageInput = document.getElementById("ImgSrc");
        var linkToImage = "/img/" + imgName;
        imageInput.value = linkToImage;
    }
</script>

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="width: 450px;height: 150px; margin-left: 100px;">
            <p>Pick the image you like</p>
            <input name="imageLink" type="radio" value="user01" onchange="getImgLink('user01');">
            <img src="/img/user01.jpg" alt="user01.jpg" id="user01" width="125" height="100" />
            <input name="imageLink" type="radio" value="user02" onchange="getImgLink('user02');">
            <img src="/img/user02.jpg" alt="user02.jpg" id="user02" width="125" height="100" />
            <input name="imageLink" type="radio" value="user03" onchange="getImgLink('user03');">
            <img src="/img/user03.jpg" alt="user03.jpg" id="user03" width="125" height="100" />            
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.ImgSrc, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ImgSrc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImgSrc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
