@model RecipeProject.Recipe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <img src="@Model.ImgSrc" alt="@Model.Title" width="100" height="100">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingridients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingridients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prep_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prep_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cooking_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cooking_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfServings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfServings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgSrc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgSrc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
