@model RecipeProject.Recipe

@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    function getImgLink(id) {
        var imgName = document.getElementById(id).alt;

        var imageInput = document.getElementById("ImgSrc");
        var linkToImage = "/img/" + imgName;
        imageInput.value = linkToImage;
    }
</script>
<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Recipe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingridients, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingridients, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ingridients, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Directions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Directions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Directions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prep_time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prep_time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prep_time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cooking_time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cooking_time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cooking_time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfServings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfServings, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfServings, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="width: 375px;height: 350px; margin-left: 100px;">
            <p>Pick the image for your recipe</p>
            <input name="imageLink" type="radio" value="meal01" onchange="getImgLink('meal01');" checked>
            <img src="/img/meal01.jpg" alt="meal01.jpg" id="meal01" width="100" height="100" />
            <input name="imageLink" type="radio" value="meal02" onchange="getImgLink('meal02');">
            <img src="/img/meal02.jpg" alt="meal02.jpg" id="meal02" width="100" height="100" />
            <input name="imageLink" type="radio" value="meal03" onchange="getImgLink('meal03');">
            <img src="/img/meal03.jpg" alt="meal03.jpg" id="meal03" width="100" height="100" />
            <input name="imageLink" type="radio" value="meal04" onchange="getImgLink('meal04');">
            <img src="/img/meal04.jpg" alt="meal04.jpg" id="meal04" width="100" height="100" />
            <input name="imageLink" type="radio" value="meal05" onchange="getImgLink('meal05');">
            <img src="/img/meal05.jpg" alt="meal05.jpg" id="meal05" width="100" height="100" />
            <input name="imageLink" type="radio" value="meal06" onchange="getImgLink('meal06');">
            <img src="/img/meal06.jpg" alt="meal06.jpg" id="meal06" width="100" height="100" />
            <input name="imageLink" type="radio" value="meal07" onchange="getImgLink('meal07');">
            <img src="/img/meal07.jpg" alt="meal07.jpg" id="meal07" width="100" height="100" />
            <input name="imageLink" type="radio" value="meal08" onchange="getImgLink('meal08');">
            <img src="/img/meal08.jpg" alt="meal08.jpg" id="meal08" width="100" height="100" />
            <input name="imageLink" type="radio" value="meal09" onchange="getImgLink('meal09');">
            <img src="/img/meal09.jpg" alt="meal09.jpg" id="meal09" width="100" height="100" />
            @*<input name="imageLink" type="radio" value="meal10" onchange="getImgLink('meal10');">
            <img src="/img/meal10.jpg" alt="meal10.jpg" id="meal10" width="100" height="100" />*@
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImgSrc, htmlAttributes: new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImgSrc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImgSrc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
